In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Save District File and Student File Pathway
district_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")
# Read District and Student Files
total_schools_df = pd.read_csv(district_path, encoding="UTF-8")
total_students_df = pd.read_csv(student_path, encoding="UTF-8")

In [3]:
# View Schools DF
total_schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# View Students DF
total_students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Merge schools and students dataframes
schools_students_df = pd.merge(total_schools_df, total_students_df, on=["school_name"])
schools_students_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [6]:
# view full csv
schools_students_df.to_csv("Resources/Merged.csv")

In [9]:
# View District Type only
district_df = schools_students_df.loc[schools_students_df["type"] == "District"]
district_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [17]:
# Number of unique district schools
district_df["school_name"].value_counts()

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Name: count, dtype: int64

In [20]:
# Checking for duplicate student IDs and writing to a csv file to verify since the table is truncated in viewer
duplicate_students_df = district_df["Student ID"].value_counts()
duplicate_students_df.to_csv("Resources/Check_Duplicates_Students.csv")

In [ ]:
# Total number of students in district schools
district_df["Student ID"].count()

#Total budget of district schools

26976