# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path
# Save District File and Student File Pathway
district_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")
# Read District and Student Files
total_schools_df = pd.read_csv(district_path, encoding="UTF-8")
total_students_df = pd.read_csv(student_path, encoding="UTF-8")
# Merge schools and students dataframes
schools_students_df = pd.merge(total_schools_df, total_students_df, on=["school_name"])
schools_students_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

## District Summary

In [18]:
# Total number of unique schools
total_schools = len(schools_students_df["school_name"].unique())
total_schools

15

In [7]:
# Total number of students
total_students = schools_students_df["Student ID"].count()
total_students

39170

In [8]:
# Total Budget
total_budget = total_schools_df["budget"].sum()
total_budget

24649428

In [9]:
# Average math score
avg_math = schools_students_df["math_score"].mean()
avg_math

78.98537145774827

In [10]:
# Average reading score
avg_read = schools_students_df["reading_score"].mean()
avg_read

81.87784018381414

In [11]:
# Percentage of students passing math
pass_math_count = schools_students_df[(schools_students_df["math_score"] >= 70)].count()["student_name"]
pass_math_percentage = pass_math_count / float(total_students) * 100
pass_math_percentage

74.9808526933878

In [12]:
# Percentage of students passing reading
pass_read_count = schools_students_df[(schools_students_df["reading_score"] >= 70)].count()["student_name"]
pass_read_percentage = pass_read_count / float(total_students) * 100
pass_read_percentage

85.80546336482001

In [14]:
# Percentage of students that passed math and reading
pass_math_read_count = schools_students_df[(schools_students_df["math_score"] >= 70) & (schools_students_df["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = pass_math_read_count / float(total_students) * 100
overall_passing_rate

65.17232575950983

In [21]:
# District high-level snapshot
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                                 "Total Students": [total_students],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [avg_math],
                                 "Average Reading Score": [avg_read],
                                 "% Passing Math": [pass_math_percentage],
                                 "% Passing Reading": [pass_read_percentage],
                                 "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary